.header1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: bold;
}

body {
  background-image: url(../Fotos/fondo\ pagina\ principal.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: aliceblue;
  margin-top: 20px;
  border-radius: 13px;
}

.boton {
  text-align: center;
  background-color: white;
  width: max-content;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  margin-left: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

nav div {
  display: inline-block;
  padding: 20px;
  width: 24%;
  color: white;
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}

.boton:hover {
  background-color: antiquewhite;
}

aside {
  background-color: aliceblue;
  float: left;
  margin-top: 60px;
  margin-left: 15px;
  width: 300px;
  height: 630px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  color: black;
}
li {
  text-align: left;
  font-weight: bold;
}

img.Fotodeperfil {
  width: 230px;
}

.caracteristicas {
  column-count: 3;
  width: 1430px;
  height: 210px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
  padding: 5px;
  border: 2px blue solid;
  text-align: center;
  color: black;
  font-size: 20px;
  margin-left: 100px;
}

footer {
  font-weight: bold;
  clear: both;
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.carac {
  text-align: center;
  margin-top: 2px;
}

.csm {
  color: white;
  margin-left: 50px;
  float: left;
}

.hrp {
  width: 1500px;
}

.aqn {
  color: white;
  margin-left: 50px;
  float: left;
}

.futbol {
  width: 330px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 300px;
}

.tjaf {
  color: white;
  margin-left: 720px;
  margin-top: 30px;
}

.play {
  width: 330px;
  margin-top: -900px;
  margin-bottom: 3px;
  margin-left: 1300px;
}

.tplay {
  color: white;
  margin-left: 1410px;
  margin-top: -275px;
}

.ap {
  color: white;
  margin-left: 365px;
  margin-top: 50px;
}

.hrp1 {
  width: 1505px;
  margin-left: 357px;
}

.insta {
  float: left;
  width: 130px;
  margin-left: 1000px;
  margin-bottom: 40px;
}

.tig {
  color: white;
  width: 400px;
  text-align: center;
  margin-left: 870px;
}

label {
  color: black;
}

.hola {
  background-color: aliceblue;
  border-radius: 15px;
  width: 500px;
  height: 550px;
  float: left;
  margin-left: 170px;
  margin-top: 30px;
  border: 3px solid black;
}

.holaa {
  background-color: aliceblue;
  width: 1000px;
  height: 600;
  float: left;
  margin-left: 230px;
  border-radius: 15px;
  margin-bottom: 50px;
  border: 3px solid black;
}

.cv1 {
  background-color: gray;
  float: left;
  height: 250px;
  width: 1100px;
  margin-left: 230px;
  margin-top: 50px;
  border-radius: 5px;
}

.cv2 {
  background-color: aliceblue;
  float: left;
  height: 1350px;
  width: 1100px;
  margin-left: 230px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.fotocv {
  float: left;
  height: 200px;
  border-color: white;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 50px;
}

.nombrecv {
  margin-left: 50px;
}

.ulencabezadocv {
  color: white;
  text-align: center;
  margin-top: -160px;
  float: left;
  margin-left: 80px;
}

.h1cv {
  color: white;
  margin-top: 80px;
  margin-left: 750px;
}

.h3cv {
  color: white;
  margin-top: 40px;
  margin-left: 730px;
}

.li1 {
  list-style-image: url(../Fotos/img1cv.png);
}

.li2 {
  list-style-image: url(../Fotos/img2cv.png);
}

.li3 {
  list-style-image: url(../Fotos/img3cv.png);
}

.h1pp {
  color: black;
  margin-top: 70px;
  margin-left: 50px;
}

.h4pp {
  color: gray;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 20px;
}

.h4pp2 {
  color: gray;
  margin-top: 30px;
  margin-left: 85px;
  font-size: 20px;
}

.h4pp3 {
  color: gray;
  margin-top: -102px;
  margin-left: 240px;
  font-size: 20px;
}

.h4pp4 {
  color: gray;
  margin-top: 30px;
  margin-left: 255px;
  font-size: 20px;
}

.h4pp5 {
  color: gray;
  margin-top: -102px;
  margin-left: 420px;
  font-size: 20px;
}

.h4pp6 {
  color: gray;
  margin-top: 30px;
  margin-left: 435px;
  font-size: 20px;
}

.tabla1 {
  border: black solid;
  border-collapse: collapse;
  margin-left: 45px;
}

.tabla2 {
  border: black solid;
  border-collapse: collapse;
  margin-left: 45px;
  width: 970px;
}

.th1 {
  text-align: left;
  color: gray;
}

.th2 {
  text-align: center;
  font-size: 23px;
  margin-left: 90px;
  margin-top: 30px;
  float: left;
}

.th3 {
  text-align: center;
  font-size: 23px;
  margin-left: 90px;
  margin-top: 30px;
  float: left;
}

.th4 {
  float: left;
  margin-top: 35px;
  margin-left: 300px;
  font-size: 20px;
  color: gray;
}

.th5 {
  float: left;
  margin-top: 35px;
  margin-left: 165px;
  font-size: 20px;
  color: gray;
}

.td1 {
  float: left;
  margin-top: 35px;
  margin-left: 165px;
  font-size: 20px;
  color: gray;
}
